/*styles for the body*/
body{
    /*Changes the background color of the page*/
    background-color: rgb(236, 236, 236);
}

/*ID STYLES:*/

    /*Used for the title Header of the webpage's Login portion */
#Title{
    /*Cahnges the background color of this section*/
    background-color: rgb(4, 46, 46);
    /*changes the text color in this section*/
    color:ghostwhite;
    /*aligns the text to the center of this section*/
    text-align: center;
    /*adds padding to the material within this section*/
    padding:1px;
}

    /*Used for the material of the webpage's Login portion */
#loginDiv{
    /*aligns the text to the center of this section*/   
    text-align: center;
    /*adjusts where this section is put on the webpage*/
    float: center;
    /*Cahnges the background color of this section*/
    background-color: rgb(238, 247, 247); /*191, 218, 218 ; 222, 236, 236 ; 238, 247, 247*/
    /*creates a border to this section and gives it its own style*/
    border-style: solid;
    /*changes the color of the created border*/
    border-color: rgb(222, 236, 236);
    /*adds padding to the material within this section*/
    padding:2%;
    /*adds a top-side margin to the material within this section*/
    margin-top: 5%;
    /*adds a left-side margin to the material within this section*/
    margin-left: 25%;
    /*adds a right-side margin to the material within this section*/
    margin-right: 25%;
    /*adds a radius to the border, rounding it*/
    border-radius:5px;
}

    /*Used to envelop the entire login portion of the webpage*/
#loginEnvelope{
    /*Cahnges the background color of this section*/
    background-color: rgb(191, 218, 218);
    /*adds a lower-side padding to the material within this section*/
    padding-bottom:2%;
}


/*CLASS STYLES:*/

    /*Used for the text boxes*/
.logInfo{
    /*gives a margin to the material with this label*/
    margin: .5%;
}